@charset "UTF-8";
@import "compass";

$gray_1: #fcfcfc;
$gray_5: #f3f3f3;
$gray_10: #e5e5e5;
$gray_15: #ddd;
$gray_20: #ccc;
$gray_25: #bfbfbf;
$gray_30: #b3b3b3;
$gray_35: #d9d9d9;
$gray_40: #999;
$gray_50: #808080;
$gray_60: #666;
$gray_70: #4d4d4d;
$gray_75: #404040;
$gray_80: #333;
$gray_85: #262626;
$gray_90: #1a1a1a;

$gray_a1: rgba(0, 0, 0, 0.01);
$gray_a5: rgba(0, 0, 0, 0.05);
$gray_a10: rgba(0, 0, 0, 0.1);
$gray_a15: rgba(0, 0, 0, 0.15);
$gray_a20: rgba(0, 0, 0, 0.2);
$gray_a25: rgba(0, 0, 0, 0.25);
$gray_a30: rgba(0, 0, 0, 0.3);
$gray_a35: rgba(0, 0, 0, 0.35);
$gray_a40: rgba(0, 0, 0, 0.4);
$gray_a45: rgba(0, 0, 0, 0.45);
$gray_a50: rgba(0, 0, 0, 0.5);
$gray_a55: rgba(0, 0, 0, 0.55);
$gray_a60: rgba(0, 0, 0, 0.6);
$gray_a65: rgba(0, 0, 0, 0.65);
$gray_a70: rgba(0, 0, 0, 0.7);
$gray_a75: rgba(0, 0, 0, 0.75);
$gray_a80: rgba(0, 0, 0, 0.8);
$gray_a85: rgba(0, 0, 0, 0.85);
$gray_a90: rgba(0, 0, 0, 0.9);
$gray_a95: rgba(0, 0, 0, 0.95);
