# Apache
.htaccess
.htpasswd

# Sass
.sass-cache
*.scssc

# Sublime Text
sftp-config.json

# WordPress
wp-config.php
*.sql

# Ruby on Rails
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/public/uploads

# Jekyll
_site

# Node.js
node_modules/

# Logfiles and tempfiles
/log/*
!/log/.keep
/tmp

# Other unneeded files
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
